:root{
  /* ---- Sebastian Drip Chicken Theme (nicht von mir veröffentlicht)---- */
  /* Basic props */
  --color-none: transparent;

  /* color palette */
  --braun: #67544c;
  --black-17: #161615;
  --black-1e: #161615;
  --silver-gray: #fefefe;
  --dark-gray-6: #67544c;
  --ka: #f3e7d5;
  --white: #e3dfdb;
  --pink: #db6667;
  --blue: #006ea9;

  --color-none: transparent;
  --white: #fefefe;



  /* theme colors */
  --color-main: var(--braun);
  --color-second: var(--black-17);
  --color-third: var(--black-1e);
  --color-highlight: var(--pink);
  --color-active: var(--white);
  --color-disabled: var(--blue);
  --color-close: #67544c;
 
 /* Font colors */
  --color-font: var(--silver-gray);
  --color-font-navigation: var(--color-font-second);
  --color-font-headline: var(--white);
  --color-font-second: var(--silver-gray);
  --color-font-headlabel:var(--white);
  --color-font-subtext: var(--dark-gray-6);
  /* Icon colors */
  --color-icon-default: var(--silver-gray);
  --color-icon-light: var(--white);  
}