:root {
  /* ---- Mr. White Theme ---- */

  --border-radius-default: 2px;

  /* theme colors */
  --color-main: #eee;
  --color-second: #fff;
  --color-third: #e3e3e3;
  --color-highlight: #111;
  --color-active: #1da39c;
  --color-disabled: #909090;
  --color-close: #d10000;
  --color-warning: #bb8900;

  /* Font colors */
  --color-font: #111;
  --color-font-navigation: #323232;
  --color-font-headline: #111;
  --color-font-second: #111;
  --color-font-headlabel: #111;
  --color-font-subtext: #6b6b6b;
  /* Icon colors */
  --color-icon-default: #111;
  --color-icon-light: #111;
  /* dlc snowflake color */
  --color-dlc-snowflake: #090a13;
}

.button-mainAction:hover{
  transform:translateY(-10px);
  box-shadow: 0px 17px 12px #00000033;
  background: var(--color-second);
}
.button-mainAction:hover:disabled{
  transform:translateY(0px);
  box-shadow: inset 0px 4px 10px #00000033;
}

.switch_slider {
  border-radius: var(--border-radius-default);
}

.switch_slider:before {
  border-radius: var(--border-radius-default);
}

.notification--ok {
  background-color: var(--color-active);
}