# Build folder and files #
##########################


# Development folders and files #
#################################
.tmp/
# dist/
node_modules/
*.compiled.*

# Folder config file #
######################
Desktop.ini

# Folder notes #
################
_ignore/
dist/

# Log files & folders #
#######################
logs/
*.log
npm-debug.log*
.npm


# Photoshop & Illustrator files #
#################################
*.ai
*.eps
*.psd

# Windows & Mac file caches #
#############################
.DS_Store
Thumbs.db
ehthumbs.db

# Windows shortcuts #
#####################
*.lnk
