
:root{
    /* ---- Yosha's Caffee Mug Theme ---- */
    /* Basic props */
    --color-none: transparent;
  
    /* color palette */
    --pale-green: #6c8067;
    --pale-green-5: #5a645b;
    --mud-green: #485543;
    --mud-green-5: #5f6f59;
    --lightgreen: #8ad170;
    --lightgray-a: #a6a9ba;
    --silver-gray: #d9dcd8;

    --color-none: transparent;
    --white: #fefefe;


  
    /* theme colors */
    --color-main: var(--mud-green);
    --color-second: var(--mud-green-5);
    --color-third: var(--pale-green);
    --color-highlight: var(--silver-gray);
    --color-active: var(--white);
    --color-disabled: var(--pale-green-5);
    --color-close: #e4e78f;
   
   /* Font colors */
    --color-font: var(--silver-gray);
    --color-font-navigation: var(--color-font-second);
    --color-font-headline: var(--white);
    --color-font-second: var(--silver-gray);
    --color-font-headlabel:var(--white);
    --color-font-subtext: var(--lightgray-a);
    /* Icon colors */
    --color-icon-default: var(--lightgray-a);
    --color-icon-light: var(--white);  
  }
  
  