.config-item-logo-container--amagprotime {
    background-color: #000;
}

.config-item-logo-container--dzbankprores {
    background-color: #ffffff;
}

.config-item-logo-container--automatic {
    background-color: #5ecab7;
}