:root {
  /* ---- Chrome Black Theme ---- */
  /* Color palette */
  --black: #252525;
  --black-3b: #2b2b2b;
  --white: #fefefe;
  --gray-71: #717171;
  /* Theme colors */
  --color-main: var(--black);
  --color-second: var(--black-3b);
  --color-third: #3d3d3d;
  --color-highlight: var(--white);
  --color-active: #a9c7fa;
  --color-disabled: #753141;
  --color-close: #916e74;
  --color-warning: #c3c376;
  /* Font colors */
  --color-font: var(--white);
  --color-font-navigation: var(--color-font-second);
  --color-font-headline: var(--white);
  --color-font-second: var(--gray-71);
  --color-font-headlabel: var(--white);
  --color-font-subtext: var(--gray-71);
  /* Icon colors */
  --color-icon-default: var(--gray-71);
  --color-icon-light: var(--white);
}