@import url('../fonts/Roboto.css');

h1 {
    font-family: Roboto, sans-serif;
}

h2 {
    font-family: Roboto, sans-serif;
}

p,a {
    font-family: Roboto, sans-serif;
}

button, input, select {
    font-family: Roboto, sans-serif;
}