:root {
    --border-radius-default: 10px;
    --border-radius-round: 100%;
    --transition-default: .3s;
    --transition-mid: .5s;

    --font-size-headline: 20px;
    --font-size-headline2: 16px;
    --font-size-regular: 12px;
    --font-size-small: 10px;
}