
:root{
    /* ---- Daniels Gold Kette Theme---- */
    /* Basic props */
    --color-none: transparent;
  
    /* color palette */
    --gray: #ededed;
    --gray-e8: #e8e7e5;
    --gray-e1: #e1e0dd;
    --gray-5b: #5b5a58;
    --black: #010101;
    --gray-94: #949494;
    --blue-dark: #1e2453;
    --gold-dark: #7f6242;
    --gold-light: #b09573;
    --red: #9f2224;
    --red-7e: #7e4243;

    --white: #fefefe;


  
    /* theme colors */
    --color-main: var(--gray);
    --color-second: var(--gray-e8);
    --color-third: var(--gray-e1);
    --color-highlight: var(--gold-dark);
    --color-active: var(--gold-light);
    --color-disabled: var(--red-7e);
    --color-close: var(--red);
   
   /* Font colors */
    --color-font: var(--black);
    --color-font-navigation: var(--color-font-second);
    --color-font-headline: var(--black);
    --color-font-second: var(--gray-5b);
    --color-font-headlabel:var(--black);
    --color-font-subtext: var(--gray-5b);
    /* Icon colors */
    --color-icon-default: var(--blue-dark);
    --color-icon-light: var(--black);  
  }
  
  