:root {
  /* ---- Pokemon's Forest Theme ---- */
  
  /* theme colors */
  --color-main: #001b04;
  --color-second: #002c05;
  --color-third: #004d0d;
  --color-highlight: #28dd55;
  --color-active: #71ff18;
  --color-disabled: #6a7641;
  --color-close: #ffe137;

  /* Font colors */
  --color-font: #a6e3ae;
  --color-font-navigation: #92b997;
  --color-font-headline: #b0eeb9;
  --color-font-second: #92b997;
  --color-font-headlabel: #92b997;
  --color-font-subtext: #92b997;
  /* Icon colors */
  --color-icon-default: #92b997;
  --color-icon-light: #92b997;
}